<div class="p-2 pt-4">
  <form [formGroup]="transactionForm" (submit)="onTransactionSubmit()">
    <div class="flex w-full">
      <div class="w-3/5 mr-2">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>From</mat-label>
          <mat-select formControlName="accountId">
            <mat-option
              *ngFor="let account of accounts?.items"
              [value]="account.accountId"
            >
              {{ account.accountName }}
            </mat-option>
            <mat-option *ngIf="accounts?.items?.length == 0"
              >No accounts found</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>

      <div class="w-2/5 mr-2">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Amount</mat-label>
          <input
            matInput
            type="number"
            name="amount"
            formControlName="amount"
          />
        </mat-form-field>
      </div>
    </div>

    <div class="flex w-full">
      <div class="w-3/5 mr-2">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Description</mat-label>
          <input
            matInput
            type="text"
            name="description"
            formControlName="description"
          />
        </mat-form-field>
      </div>

      <div class="w-2/5 mr-2 flex">
        <button
          mat-flat-button
          class="btn-primary w-full mx-2"
          type="submit"
          [disabled]="transactionForm.invalid"
        >
          {{ transactionType | uppercase }}
        </button>
        <button mat-flat-button class="btn-secondary w-full">RESET</button>
      </div>
    </div>
  </form>
</div>
