<div class="min-h-screen flex items-center justify-center bg-gray-100">
  <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-sm">
    <h2 class="text-2xl font-bold mb-6 text-center">{{ state | titlecase }}</h2>
    <form [formGroup]="loginForm" (submit)="onSubmit()">
      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-700">Username</label>
        <input
          class="appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-teal-500 focus:border-teal-500 focus:z-10 sm:text-sm"
          id="username"
          autocomplete="username"
          type="text"
          placeholder="Enter your username"
          formControlName="username"
        />
      </div>
      <div class="mb-4" *ngIf="state == 'SIGNUP'">
        <label class="block text-sm font-medium text-gray-700" for="email"
          >Email address</label
        >
        <input
          class="appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-teal-500 focus:border-teal-500 focus:z-10 sm:text-sm"
          placeholder="Enter your email address"
          id="email"
          type="email"
          autocomplete="email"
          formControlName="email"
          required
        />
      </div>
      <div class="mb-6">
        <label class="block text-sm font-medium text-gray-700" for="password"
          >Password</label
        >
        <input
          class="appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-teal-500 focus:border-teal-500 focus:z-10 sm:text-sm"
          id="password"
          type="password"
          placeholder="Enter your password"
          formControlName="password"
        />
      </div>
      <div class="flex items-center justify-between">
        <button
          class="text-white w-full"
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="isLoginFormValid()"
        >
          {{ state | titlecase }}
        </button>
      </div>
    </form>

    <div
      class="flex items-center justify-center text-teal-500 hover:underline pt-3"
      (click)="onChangeStatus()"
    >
      {{ state === "LOGIN" ? "Create new account?" : "Existing user" }}
    </div>
  </div>
</div>
