<div class="min-h-screen flex items-center justify-center bg-gray-100">
  <div class="bg-white p-8 rounded-lg shadow-lg w-full md:max-w-md max-w-[19rem]">
    <h2 class="text-2xl font-bold mb-6 text-center">{{ state | titlecase }}</h2>
    <form [formGroup]="loginForm" (submit)="onSubmit()">
      <div class="w-full">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label for="username">Username</mat-label>
          <input
            matInput
            id="username"
            autocomplete="username"
            type="text"
            placeholder="Enter your username"
            formControlName="username"
            required
          />
          <mat-error>Username is required</mat-error>
        </mat-form-field>
      </div>

      <div class="w-full" *ngIf="state == 'SIGNUP'">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label for="email">Email address</mat-label>
          <input
            matInput
            id="email"
            type="email"
            autocomplete="email"
            formControlName="email"
            required
          />
          <mat-error>Email address is required</mat-error>
        </mat-form-field>
      </div>

      <div class="w-full">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label for="password">Password</mat-label>
          <input
            matInput
            id="password"
            type="password"
            placeholder="Enter your password"
            formControlName="password"
            required
          />
          <mat-error>Password is required</mat-error>
        </mat-form-field>
      </div>

      <div class="flex items-center justify-between">
        <button
          class="text-white w-full"
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="isLoginFormValid()"
        >
          {{ state | titlecase }}
        </button>
      </div>
    </form>

    <div
      class="flex items-center justify-center text-teal-500 hover:underline hover:cursor-pointer pt-3"
      (click)="onChangeStatus()"
    >
      {{ state === "LOGIN" ? "Create new account?" : "Existing user" }}
    </div>
  </div>
</div>
