<div class="p-4">
  <div class="w-full flex pb-5">
    <div
      class="w-1/4 bg-white shadow-md rounded-lg overflow-hidden border border-lg mx-2"
    >
      <div
        class="flex items-center p-3 border-b text-teal-600 font-semibold text-lg"
      >
        <div>Account(s)</div>
        <div class="flex ml-1">
          <button mat-icon-button (click)="addAccount()">
            <mat-icon>add_circle_outline</mat-icon>
          </button>
        </div>
      </div>
      <div class="px-3 py-2">
        <div *ngFor="let items of accountResponseMedia?.items">
          <div class="text-gray-400 font-semibold text-sm">
            {{ items.accountName }}
          </div>
          <span class="text-teal-600 font-bold">{{ items.balance }}</span>
        </div>
        <div class="pt-2">
          <div class="text-gray-400 font-semibold text-md">Total balance</div>
          <span class="text-teal-600 font-bold text-md">{{
            getTotalBalance()
          }}</span>
        </div>
      </div>
    </div>

    <div
      class="w-3/4 bg-white shadow-md rounded-lg overflow-hidden border border-lg mx-2"
    >
      <!-- <div class="p-3 border-b text-teal-600 font-semibold text-lg">Transaction</div> -->
      <div class="px-3 py-2">
        <mat-tab-group mat-align-tabs="start" mat-stretch-tabs="false">
          <mat-tab label="Expanse">
            <app-transaction
              [transactionType]="'DEBIT'"
              [accounts]="accountResponseMedia"
              (onTransaction)="getAccountsList()"
            ></app-transaction>
          </mat-tab>
          <mat-tab label="Income">
            <app-transaction
              [transactionType]="'CREDIT'"
              [accounts]="accountResponseMedia"
              (onTransaction)="getAccountsList()"
            ></app-transaction>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>

  <div class="w-full flex pb-5">
    <div
      class="w-full bg-white shadow-md rounded-lg overflow-hidden border border-lg mx-2"
    >
      <div class="p-3 block border-b text-teal-600 font-semibold text-lg">
        Recent Transactions
      </div>
      <div class="py-2 px-3">
        <div class="border my-3">
          <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef>Transaction description</th>
              <td mat-cell *matCellDef="let element">
                {{ element.description }}
              </td>
            </ng-container>

            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef>Amount</th>
              <td mat-cell *matCellDef="let element">
                <div
                  class="flex items-center"
                  [ngClass]="[
                    element.transactionType == 'DEBIT'
                      ? 'text-red-600'
                      : 'text-teal-700'
                  ]"
                >
                  {{ element.transactionType == "DEBIT" ? "-" : "+" }}
                  {{ element.amount | currency : "INR" }}
                </div>
              </td>
            </ng-container>
            <tr
              mat-header-row
              *matHeaderRowDef="displayedColumns; sticky: true"
            ></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
