tr.mat-mdc-footer-row {
  font-weight: bold;
  color: #0d9488;
}

.mat-mdc-table-sticky {
  border-top: 1px solid #e0e0e0;
}

.mat-mdc-table .mat-mdc-header-cell {
  border-top: 0px !important;
  color: #0d9488;
  font-weight: 600;
  letter-spacing: 0.44px;
  background: #f0fdfa !important;
}
