tr.mat-mdc-footer-row {
  font-weight: bold;
  color: #0d9488;
}

.mat-mdc-table-sticky {
  border-top: 1px solid #e0e0e0;
}

.mat-mdc-table .mat-mdc-header-cell {
  border-top: 0px !important;
  color: #0d9488;
  font-weight: 600;
  letter-spacing: 0.44px;
  background: #f0fdfa !important;
}

.mdc-button.btn-expanse {
  background-color: white !important;
  color: #dc2626 !important;
  min-width: 100px;
  border: 1px solid #dc2626;
}

.mdc-button.btn-account {
  background-color: white !important;
  color: #0891b2 !important;
  min-width: 100px;
  border: 1px solid #0891b2;
}

.mdc-button.btn-income {
  background-color: white !important;
  color: #0d9488 !important;
  min-width: 100px;
  border: 1px solid #0d9488;
}

.mdc-button.btn-income:hover {
  color: white !important;
  background-color: #0d9488 !important;
}
.mdc-button.btn-expanse:hover {
  color: white !important;
  background-color: #dc2626 !important;
}
.mdc-button.btn-account:hover {
  color: white !important;
  background-color: #0891b2 !important;
}

.mat-mdc-cell {
  border: none !important;
}

#fn-status-icon {
  font-size: 32px;
  width: 32px;
  height: 32px;
}
