<div class="w-full block md:flex" style="height: 100%">
  <div
    class="w-auto md:w-2/5 m-2 bg-white block md:flex flex-col rounded-md border"
    id="chart-section"
  >
    <div class="p-2 px-4 block">
      <div class="text-teal-600 font-semibold text-md">Overview</div>
    </div>
    <div
      class="w-full flex-1 min-h-48"
      style="flex-grow: 1"
      id="chart-view"
    ></div>
  </div>
  <div class="w-auto md:w-3/5 block md:flex flex-col" id="metadata-section">
    <div class="w-auto block md:flex rounded-md border p-2 bg-white m-2">
      <div class="w-auto md:w-1/3 flex justify-center items-center m-2">
        <button
          mat-flat-button
          class="h-full w-full btn-account text-nowrap md:text-sm text-xs"
          (click)="addAccount()"
        >
          <mat-icon>add</mat-icon>Add account
        </button>
      </div>

      <div class="w-auto md:w-1/3 flex justify-center items-center m-2">
        <button
          mat-flat-button
          class="h-full w-full btn-income text-nowrap md:text-sm text-xs"
          (click)="onTransaction('CREDIT')"
        >
          <mat-icon>south</mat-icon>Add income
        </button>
      </div>

      <div class="w-auto md:w-1/3 flex justify-center items-center m-2">
        <button
          mat-flat-button
          class="h-full w-full btn-expanse text-nowrap md:text-sm text-xs"
          (click)="onTransaction('DEBIT')"
        >
          <mat-icon>north</mat-icon>Add expanses
        </button>
      </div>
    </div>

    <div class="w-auto block m-2 md:flex flex-1">
      <div class="w-auto md:w-1/3 md:m-2 my-2 block md:flex flex-col">
        <div
          class="w-full flex-1 rounded-md border p-4 bg-white flex flex-col justify-between"
        >
          <div class="w-full flex justify-start">
            <div>
              <mat-icon id="fn-status-icon" class="text-cyan-600"
                >account_balance</mat-icon
              >
              <div class="text-cyan-600 font-semibold text-md">
                Total balance
              </div>
            </div>
          </div>
          <div class="w-full">
            <div class="text-gray-600 font-bold text-lg">
              {{ accountMetadataMedia.totalBalance | currency : "INR" }}
            </div>
          </div>
        </div>
      </div>
      <div class="w-auto md:w-1/3 md:m-2 my-2 block md:flex flex-col">
        <div
          class="w-full flex-1 rounded-md border p-4 bg-white flex flex-col justify-between"
        >
          <div class="w-full flex justify-start">
            <div>
              <mat-icon id="fn-status-icon" class="text-teal-600"
                >south</mat-icon
              >
              <div class="text-teal-600 font-semibold text-md">Income</div>
            </div>
          </div>
          <div>
            <div class="text-gray-600 font-bold text-lg">
              {{ accountMetadataMedia.totalIncome | currency : "INR" }}
            </div>
          </div>
        </div>
      </div>
      <div class="w-auto md:w-1/3 md:m-2 my-2 block md:flex flex-col">
        <div
          class="w-full flex-1 rounded-md border p-4 bg-white flex flex-col justify-between"
        >
          <div class="w-full flex justify-start">
            <div>
              <mat-icon id="fn-status-icon" class="text-red-600 stroke-2"
                >north</mat-icon
              >
              <div class="text-red-600 font-semibold text-md">Expanse</div>
            </div>
          </div>
          <div>
            <div class="text-gray-600 font-bold text-lg">
              {{ accountMetadataMedia.totalExpance | currency : "INR" }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="w-auto block md:flex">
  <div
    class="w-auto md:w-3/5 bg-white border rounded-lg overflow-hidden m-2"
    style="display: flex; flex-direction: column"
  >
    <div class="p-2 px-4 block">
      <div class="text-teal-600 font-semibold text-md">Recent transactions</div>
    </div>
    <div class="px-0">
      <div class="mb-2">
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="description">
            <td mat-cell *matCellDef="let element">
              <div class="p-1">
                <div class="text-sm mb-1">{{ element.description }}</div>
                <div class="text-xs font-light">
                  {{ element.timestamp | timeDiff }}
                </div>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="amount">
            <td
              mat-cell
              *matCellDef="let element"
              class="text-sm font-medium tracking-widest"
            >
              <div
                class="flex items-center"
                [ngClass]="[
                  element.type == 'DEBIT' ? 'text-red-600' : 'text-teal-700'
                ]"
              >
                {{ element.type == "DEBIT" ? "-" : "+" }}
                {{ element.amount | currency : "INR" }}
              </div>
            </td>
          </ng-container>

          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </div>
  </div>

  <div
    class="w-auto md:w-2/5 m-2 bg-white border rounded-md"
    id="chart-section"
    style="display: flex; flex-direction: column"
  >
    <div class="p-2 px-4 block">
      <div class="text-teal-600 font-semibold text-md">Expanses</div>
    </div>
    <div
      class="w-auto flex-1 min-h-56"
      style="flex-grow: 1"
      id="pie-chart-view"
    ></div>
  </div>
</div>
