$primary: (
  50: #f0fdfa,
  100: #ccfbf1,
  200: #99f6e4,
  300: #5eead4,
  400: #2dd4bf,
  500: #14b8a6,
  600: #0d9488,
  700: #0f766e,
  800: #115e59,
  900: #134e4a,
  A100: #a6fff3,
  A200: #73ffe8,
  A400: #40ffdd,
  A700: #27ffd4,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$warn: (
  50: #fce8e6,
  100: #f9c5c1,
  200: #f59e97,
  300: #f0776d,
  400: #ed5a4e,
  500: #ea3d2f,
  600: #e7372a,
  700: #e42f23,
  800: #e1271d,
  900: #db1a12,
  A100: #ffffff,
  A200: #ffd7d6,
  A400: #ffa6a3,
  A700: #ff8d8a,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
