<div class="relative inset-x-0 top-0 z-50">
  <div class="bg-teal-600">
    <div class="mx-auto max-w-7xl py-3 px-3 sm:px-6 lg:px-8">
      <div
        class="flex flex-col items-center justify-between lg:flex-row lg:justify-center"
      >
        <div class="flex flex-1 items-center lg:mr-3 lg:flex-none">
          <p class="ml-3 text-center font-medium text-white text-2xl">
            Finance tracker
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>
