<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <div class="flex flex-1 items-center lg:mr-3 lg:flex-none">
      <p class="m-3 text-center text-teal-700 text-lg font-semibold">
        Finance tracker
      </p>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="relative inset-x-0 top-0 z-50">
      <div class="border-b">
        <div class="mx-auto max-w-7xl py-2 px-2 sm:px-4 lg:px-4">
          <div
            class="flex items-center justify-start text-xl text-teal-700 font-bold"
          >
            Welcome, {{ userInfo.username }}
          </div>
          <div class="text-sm font-semibold">
            Continue your journey to manage finance
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
